@media print {
    body {
      font-size: 12pt;
      color: black;
    }
    img, button {
      display: none;
    }

    @page {
        margin: 2cm;
      }
      nav {
        display: none;
      }
  }