body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Helvetica', Arial, sans-serif;
    height: 100%;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }


header {
    color: #2A392A;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust the size of your logo */
    height: auto;
    margin-right: 10px;
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #2A392A;
    margin: 0 15px;
    font-size: 16px;
}

.login-btn {
    background-color: #2A392A;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.login-btn:hover {
    background-color: #fff;
    color: #2A392A;
}


.profile-btn{
    background-color: #2A392A;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.bg {
    /* The image used */
    background-image: url("https://zwa.toad.cz/~dufalma1/Semestralka/img/Hero_img.png");
    /* Full height */
    height: 80vh;
    margin-top: 20px;
    width: 90%;
    border-radius: 40px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: auto;

    top: 20px; bottom: 0; left: 0; right: 0;

}


p:nth-child(1){
    position: relative;
    color: white;
    font-weight: 100;
    font-size: 2em;
    font-weight: 100;
    max-width: 500px;
    top: 75%; bottom: 0; left: 5%; right: 0;
}

p:nth-child(2){
    position: relative;
    font-weight: 100;
    color: white;
    font-size: 1em;
    max-width: 350px;
    font-size: 1.5em;
    top: 60%; bottom: 0; left: 65%; right: 0;
}

.bg button{
    position: relative;
    font-weight: 100;
    top: 60%; bottom: 0; left: 75%; right: 0;
    background-color: #fff;
    color: #2A392A;
}

.bg button:hover{
    background-color: #2A392A;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

h1 {
    text-align: center;
    color: #2A392A; /* Set the text color as needed */
}



/* FOOTER */


footer{
    margin-top: 5vh;
    background-color: #2A392A;
    height: 5em;
}

footer img{
    margin-top: 2em;
    margin-left: 2em;
    height: 1em;
}

